@model iteration1___2.Models.VICseek

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>VICseek</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.city)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.city)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.company_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.company_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.geo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.geo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iob_board)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iob_board)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iob_title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iob_title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.iob_type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.iob_type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.post_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.post_date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.state_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.state_1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.url_1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url_1)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
